<!DOCTYPE html>
<html>
    <head>
        <title>
            f2p
        </title>
        <body><h1>GFM Card Form</h1>
            <form action="{% url 'card' %}" method="post">
                {% csrf_token %}
                {{form}}
                <label for="admissionyear">Enter Year of Addmission :</label>
                <select name="admissionyear" id="AdYr" >
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                </select><br><br>
                <label for="Rd">Regular / DSE :</label>
                <input type="radio" name="Rd" id="Reg" value="Regular" >
                <label for="Rd">Regular</label>
                <input type="radio" name="Rd" id="Des" value="DSE">
                <label for="Rd">DSE</label><br>

                <label for="Fname">Enter full name :</label>
                <input type="text" name="fullname" id="fullname"><br>

                <label for="address">Enter Current Address :</label>
                <input type="text" rows="3" name="address" id="address" ><br>

                <label for="address2">Enter Permanent Address :</label>
                <input type="text" rows="3" name="address2" id="address2" ><br>

                <label for="postalcode">Postal Code:</label>
                <input type="text" name="postalcode" id="postalcode"><br>
                
                <label for="student-contact-number">Student Contact Number:</label>
                <input type="text" id="student-contact-number" name="student-contact-number"><br>
                
                <label for="parent-contact-number">Parent Contact Number:</label>
                <input type="text" id="parent-contact-number" name="parent-contact-number"><br>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br>
                
                <label for="dob">DOB:</label>
                <input type="date" id="dob" name="dob"><br>
                
                <label for="religion">Religion:</label>
                <input type="text" id="religion" name="religion"><br>
                
                <label for="cast">Cast:</label>
                <input type="text" id="cast" name="cast"><br>
                
                <label for="category">Category:</label>
                <input type="text" id="category" name="category"><br>
                
                <label for="blood-group">Blood Group:</label>
                <input type="text" id="blood-group" name="blood-group"><br>
                
                <label for="bus-facility">Bus Facility (Yes/No):</label>
                <input type="text" id="bus-facility" name="bus-facility"><br>
                
                <label for="hostel">Hostel (Yes/No):</label>
                <input type="text" id="hostel" name="hostel"><br><br>
                

                <h3>Father's Job Profile: </h3>
                    <label for="father-name">Name:</label>
                    <input type="text" id="father-name" name="father-name"><br>
                    
                    <label for="father-occupation">Occupation:</label>
                    <input type="text" id="father-occupation" name="father-occupation"><br>
                    
                    <label for="father-contact-number">Contact Number:</label>
                    <input type="text" id="father-contact-number" name="father-contact-number"><br>
                    
                    <label for="father-job-location">Job Location:</label>
                    <input type="text" id="father-job-location" name="father-job-location"><br>
                    
                    <label for="father-office-contact-number">Office Contact Number:</label>
                    <input type="text" id="father-office-contact-number" name="father-office-contact-number"><br><br>
                    

                <h3>Mother's Job Profile:</h3>
                    <label for="mother-name">Name:</label>
                    <input type="text" id="mother-name" name="mother-name"><br>
                    
                    <label for="mother-occupation">Occupation:</label>
                    <input type="text" id="mother-occupation" name="mother-occupation"><br>
                    
                    <label for="mother-contact-number">Contact Number:</label>
                    <input type="text" id="mother-contact-number" name="mother-contact-number"><br>
                    
                    <label for="mother-job-location">Job Location:</label>
                    <input type="text" id="mother-job-location" name="mother-job-location"><br>
                    
                    <label for="mother-office-contact-number">Office Contact Number:</label>
                    <input type="text" id="mother-office-contact-number" name="mother-office-contact-number"><br><br>
                    

                <h3>Local Guardian Details:</h3>
                    <label for="lg-name">Name:</label>
                    <input type="text" id="lg-name" name="lg-name"><br>
                    
                    <label for="lg-contact-number">Contact Number:</label>
                    <input type="text" id="lg-contact-number" name="lg-contact-number"><br>
                    
                    <label for="lg-location">Address:</label>
                    <input type="text" id="lg-location" name="lg-location"><br><br>

                    
                        <h2>SSC Information</h2>
                        <label for="ssc-school">School / College Name:</label>
                        <input type="text" id="ssc-school" name="ssc-school"><br>
                        
                        <label for="ssc-passing-year">Passing Year:</label>
                        <input type="text" id="ssc-passing-year" name="ssc-passing-year"><br>
                        
                        <label for="ssc-percentage">Percentage:</label>
                        <input type="text" id="ssc-percentage" name="ssc-percentage"><br>
                        
                        <h2>HSC Information</h2>
                        <label for="hsc-school">School / College Name:</label>
                        <input type="text" id="hsc-school" name="hsc-school"><br>
                        
                        <label for="hsc-passing-year">Passing Year:</label>
                        <input type="text" id="hsc-passing-year" name="hsc-passing-year"><br>
                        
                        <label for="hsc-percentage">Percentage:</label>
                        <input type="text" id="hsc-percentage" name="hsc-percentage"><br>
                        
                        <h2>Diploma Information</h2>
                        <label for="diploma-school">School / College Name:</label>
                        <input type="text" id="diploma-school" name="diploma-school"><br>
                        
                        <label for="diploma-passing-year">Passing Year:</label>
                        <input type="text" id="diploma-passing-year" name="diploma-passing-year"><br>
                        
                        <label for="diploma-percentage">Percentage:</label>
                        <input type="text" id="diploma-percentage" name="diploma-percentage"><br><br>
                        
                        <h2>First Year / Diploma Final Year Information</h2>
                        <h3>Semester 1</h3>
                        <label for="fy-sem1-total-marks">Total Marks:</label>
                        <input type="number" id="fy-sem1-total-marks" name="fy-sem1-total-marks"><br>
                        
                        <label for="fy-sem1-percentage">Percentage:</label>
                        <input type="number" id="fy-sem1-percentage" name="fy-sem1-percentage"><br>
                        
                        <label for="fy-sem1-backlog">Backlog (if any):</label>
                        <input type="text" id="fy-sem1-backlog" name="fy-sem1-backlog"><br>
                        
                        <label for="fy-sem1-remark">Remark:</label>
                        <input type="text" id="fy-sem1-remark" name="fy-sem1-remark"><br>
                        
                        <h3>Semester 2</h3>
                        <label for="fy-sem2-total-marks">Total Marks:</label>
                        <input type="number" id="fy-sem2-total-marks" name="fy-sem2-total-marks"><br>
                        
                        <label for="fy-sem2-percentage">Percentage:</label>
                        <input type="number" id="fy-sem2-percentage" name="fy-sem2-percentage"><br>
                        
                        <label for="fy-sem2-backlog">Backlog (if any):</label>
                        <input type="text" id="fy-sem2-backlog" name="fy-sem2-backlog"><br>
                        
                        <label for="fy-sem2-remark">Remark:</label>
                        <input type="text" id="fy-sem2-remark" name="fy-sem2-remark"><br>
                        <h3>FY Average Percentage:</h3>
                        <label for="fy-avg-percentage">Average Percentage:</label>
                        <input type="number" id="fy-avg-percentage" name="fy-avg-percentage"  ><br>
                        <label for="fy-remark">Remark:</label>
                        <input type="text" id="fy-remark" name="fy-remark"><br><br>

                        <h3>Three Activities:</h3>
                        <label for="fy-activity1-name">Name of the event/competition:</label>
                        <input type="text" id="fy-activity1-name" name="fy-activity1-name"><br>
                        <label for="fy-activity1-location">Held at:</label>
                        <input type="text" id="fy-activity1-location" name="fy-activity1-location"><br>
                        <label for="fy-activity1-award">Award (if any):</label>
                        <input type="text" id="fy-activity1-award" name="fy-activity1-award"><br><br>

                        <label for="fy-activity2-name">Name of the event/competition:</label>
                        <input type="text" id="fy-activity2-name" name="fy-activity2-name"><br>
                        <label for="fy-activity2-location">Held at:</label>
                        <input type="text" id="fy-activity2-location" name="fy-activity2-location"><br>
                        <label for="fy-activity2-award">Award (if any):</label>
                        <input type="text" id="fy-activity2-award" name="fy-activity2-award"><br><br>

                        <label for="fy-activity3-name">Name of the event/competition:</label>
                        <input type="text" id="fy-activity3-name" name="fy-activity3-name"><br>
                        <label for="fy-activity3-location">Held at:</label>
                        <input type="text" id="fy-activity3-location" name="fy-activity3-location"><br>
                        <label for="fy-activity3-award">Award (if any):</label>
                        <input type="text" id="fy-activity3-award" name="fy-activity3-award"><br>
                        


                        <h2>Second Year</h2>
                        <h3>Semester 1</h3>
                        <label for="sy-sem1-total-marks">Total Marks:</label>
                        <input type="number" id="sy-sem1-total-marks" name="sy-sem1-total-marks"  ><br>
                        <label for="sy-sem1-percentage">Percentage:</label>
                        <input type="number" id="sy-sem1-percentage" name="sy-sem1-percentage"  ><br>
                        <label for="sy-sem1-backlog">Backlog (if any):</label>
                        <input type="text" id="sy-sem1-backlog" name="sy-sem1-backlog"><br>
                        <label for="sy-sem1-remark">Remark:</label>
                        <input type="text" id="sy-sem1-remark" name="sy-sem1-remark"><br>
                        
                        <h3>Semester 2</h3>
                        <label for="sy-sem2-total-marks">Total Marks:</label>
                        <input type="number" id="sy-sem2-total-marks" name="sy-sem2-total-marks"  ><br>
                        <label for="sy-sem2-percentage">Percentage:</label>
                        <input type="number" id="sy-sem2-percentage" name="sy-sem2-percentage"  ><br>
                        <label for="sy-sem2-backlog">Backlog (if any):</label>
                        <input type="text" id="sy-sem2-backlog" name="sy-sem2-backlog"><br>
                        <label for="sy-sem2-remark">Remark:</label>
                        <input type="text" id="sy-sem2-remark" name="sy-sem2-remark"><br>
                        
                        <h3>SY Average Percentage:</h3>
                        <label for="sy-avg-percentage">Average Percentage:</label>
                        <input type="number" id="sy-avg-percentage" name="sy-avg-percentage"  ><br>
                        <label for="sy-remark">Remark:</label>
                        <input type="text" id="sy-remark" name="sy-remark"><br>
                        
                        <h3>Three Activities:</h3>
                        <label for="sy-activity1-name">Name of the event/competition:</label>
                        <input type="text" id="sy-activity1-name" name="sy-activity1-name"><br>
                        <label for="sy-activity1-location">Held at:</label>
                        <input type="text" id="sy-activity1-location" name="sy-activity1-location"><br>
                        <label for="sy-activity1-award">Award (if any):</label>
                        <input type="text" id="sy-activity1-award" name="sy-activity1-award"><br><br>

                        <label for="sy-activity2-name">Name of the event/competition:</label>
                        <input type="text" id="sy-activity2-name" name="sy-activity2-name"><br>
                        <label for="sy-activity2-location">Held at:</label>
                        <input type="text" id="sy-activity2-location" name="sy-activity2-location"><br>
                        <label for="sy-activity2-award">Award (if any):</label>
                        <input type="text" id="sy-activity2-award" name="sy-activity2-award"><br><br>

                        <label for="sy-activity3-name">Name of the event/competition:</label>
                        <input type="text" id="sy-activity3-name" name="sy-activity3-name"><br>
                        <label for="sy-activity3-location">Held at:</label>
                        <input type="text" id="sy-activity3-location" name="sy-activity3-location"><br>
                        <label for="sy-activity3-award">Award (if any):</label>
                        <input type="text" id="sy-activity3-award" name="sy-activity3-award"><br>


                        <h2>Third Year</h2>
                        <h3>Semester 1</h3>
                        <label for="ty-sem1-total-marks">Total Marks:</label>
                        <input type="number" id="ty-sem1-total-marks" name="ty-sem1-total-marks"  ><br>
                        <label for="ty-sem1-percentage">Percentage:</label>
                        <input type="number" id="ty-sem1-percentage" name="ty-sem1-percentage"  ><br>
                        <label for="ty-sem1-backlog">Backlog (if any):</label>
                        <input type="text" id="ty-sem1-backlog" name="ty-sem1-backlog"><br>
                        <label for="ty-sem1-remark">Remark:</label>
                        <input type="text" id="ty-sem1-remark" name="ty-sem1-remark"><br>
                        
                        <h3>Semester 2</h3>
                        <label for="ty-sem2-total-marks">Total Marks:</label>
                        <input type="number" id="ty-sem2-total-marks" name="ty-sem2-total-marks"  ><br>
                        <label for="ty-sem2-percentage">Percentage:</label>
                        <input type="number" id="ty-sem2-percentage" name="ty-sem2-percentage"  ><br>
                        <label for="ty-sem2-backlog">Backlog (if any):</label>
                        <input type="text" id="ty-sem2-backlog" name="ty-sem2-backlog"><br>
                        <label for="ty-sem2-remark">Remark:</label>
                        <input type="text" id="ty-sem2-remark" name="ty-sem2-remark"><br>
                        
                        <h3>TY Average Percentage:</h3>
                        <label for="ty-avg-percentage">Average Percentage:</label>
                        <input type="number" id="ty-avg-percentage" name="ty-avg-percentage"  ><br>
                        <label for="ty-remark">Remark:</label>
                        <input type="text" id="ty-remark" name="ty-remark"><br>
                        
                        <h3>Three Activities:</h3>
                        <label for="ty-activity1-name">Name of the event/competition:</label>
                        <input type="text" id="ty-activity1-name" name="ty-activity1-name"><br>
                        <label for="ty-activity1-location">Held at:</label>
                        <input type="text" id="ty-activity1-location" name="ty-activity1-location"><br>
                        <label for="ty-activity1-award">Award (if any):</label>
                        <input type="text" id="ty-activity1-award" name="ty-activity1-award"><br><br>

                        <label for="ty-activity2-name">Name of the event/competition:</label>
                        <input type="text" id="ty-activity2-name" name="ty-activity2-name"><br>
                        <label for="ty-activity2-location">Held at:</label>
                        <input type="text" id="ty-activity2-location" name="ty-activity2-location"><br>
                        <label for="ty-activity2-award">Award (if any):</label>
                        <input type="text" id="ty-activity2-award" name="ty-activity2-award"><br><br>

                        <label for="ty-activity3-name">Name of the event/competition:</label>
                        <input type="text" id="ty-activity3-name" name="ty-activity3-name"><br>
                        <label for="ty-activity3-location">Held at:</label>
                        <input type="text" id="ty-activity3-location" name="ty-activity3-location"><br>
                        <label for="ty-activity3-award">Award (if any):</label>
                        <input type="text" id="ty-activity3-award" name="ty-activity3-award"><br>


                        <h2>Last Year</h2>
                        <h3>Semester 1</h3>
                        <label for="ly-sem1-total-marks">Total Marks:</label>
                        <input type="number" id="ly-sem1-total-marks" name="ly-sem1-total-marks"  ><br>
                        <label for="ly-sem1-percentage">Percentage:</label>
                        <input type="number" id="ly-sem1-percentage" name="ly-sem1-percentage"  ><br>
                        <label for="ly-sem1-backlog">Backlog (if any):</label>
                        <input type="text" id="ly-sem1-backlog" name="ly-sem1-backlog"><br>
                        <label for="ly-sem1-remark">Remark:</label>
                        <input type="text" id="ly-sem1-remark" name="ly-sem1-remark"><br>
                        
                        <h3>Semester 2</h3>
                        <label for="ly-sem2-total-marks">Total Marks:</label>
                        <input type="number" id="ly-sem2-total-marks" name="ly-sem2-total-marks"  ><br>
                        <label for="ly-sem2-percentage">Percentage:</label>
                        <input type="number" id="ly-sem2-percentage" name="ly-sem2-percentage"  ><br>
                        <label for="ly-sem2-backlog">Backlog (if any):</label>
                        <input type="text" id="ly-sem2-backlog" name="ly-sem2-backlog"><br>
                        <label for="ly-sem2-remark">Remark:</label>
                        <input type="text" id="ly-sem2-remark" name="ly-sem2-remark"><br>
                        
                        <h3>LY Average Percentage:</h3>
                        <label for="ly-avg-percentage">Average Percentage:</label>
                        <input type="number" id="ly-avg-percentage" name="ly-avg-percentage"  ><br>
                        <label for="ly-remark">Remark:</label>
                        <input type="text" id="ly-remark" name="ly-remark"><br>
                        
                        <h3>Three Activities:</h3>
                        <label for="ly-activily1-name">Name of the event/competition:</label>
                        <input lype="text" id="ly-activily1-name" name="ly-activily1-name"><br>
                        <label for="ly-activily1-location">Held at:</label>
                        <input lype="text" id="ly-activily1-location" name="ly-activily1-location"><br>
                        <label for="ly-activily1-award">Award (if any):</label>
                        <input lype="text" id="ly-activily1-award" name="ly-activily1-award"><br><br>

                        <label for="ly-activily2-name">Name of the event/competition:</label>
                        <input lype="text" id="ly-activily2-name" name="ly-activily2-name"><br>
                        <label for="ly-activily2-location">Held at:</label>
                        <input lype="text" id="ly-activily2-location" name="ly-activily2-location"><br>
                        <label for="ly-activily2-award">Award (if any):</label>
                        <input lype="text" id="ly-activily2-award" name="ly-activily2-award"><br><br>

                        <label for="ly-activily3-name">Name of the event/competition:</label>
                        <input lype="text" id="ly-activily3-name" name="ly-activily3-name"><br>
                        <label for="ly-activily3-location">Held at:</label>
                        <input lype="text" id="ly-activily3-location" name="ly-activily3-location"><br>
                        <label for="ly-activily3-award">Award (if any):</label>
                        <input lype="text" id="ly-activily3-award" name="ly-activily3-award"><br>
                          
                      

                <input type="submit" name="submit">
            </form>
        </body>
    </head>
</html>